<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>funiLand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F45700001C02B361005FEB26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F457000B1C02B361005FEB26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F457FFEC1C02B360005FEB26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
